extends layout
block content
    .content
        table.table.table-bordered
            tr
                th(scope="col") Full name
                th(scope="col") Position
                th(scope="col") Salary
                th(scope="col") Birthdate
            each n in results ? results : []
                tr
                    td.staff__info
                        a(href=`/staff/${n.staff_id}`)=n.first_name+" "+n.last_name
                    td.staff__info= n.position
                    td.staff__info= n.salary
                    td= new Date().getFullYear() - n.birth_date.getFullYear()
        nav.aria-label
            ul.pagination
                each page in pages ? pages : []
                    li.page-item
                        a.page-link(href=`?page=${page}`)= page





